.container {
    max-width: 1200px;
    height: 100%;
} 

.renderItem {
    max-width: 1200px;
    max-height: auto;

    img {
        max-width: 1200px;
        height: auto;
}
}

.legendItem {
    align-items: center;
    justify-content: center;

    p {
        background-color: rgb(255, 255, 255);
        opacity: 0.5;
        color: rgb(78, 78, 88);
        border-radius: 2%;
        padding: 20px;
        font-family: Roboto, sans-serif;
        font-size: 20px;
        font-weight: 700;
        position: absolute;
        left: 5%;
        top: 5%;
    }

    p:hover {
        opacity: 1;
        font-size: 22px;
    }

}