.container {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column; 
    position: relative;
}
.connectWpp {
    display: flex;
    height: 0px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;

    padding-right: 20px;
    position: sticky;
    top: 98%;

    z-index: 10;

    img {
        width: 80px;
    }
}
