.container {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column; 
    background-image: url("../../assets/background.png");
    position: relative;
}

.topAnchor {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 8;
    display: none;  
}

.profile:hover + .topAnchor {
    display: block;
}
.project:hover + .topAnchor {
    display: block;
}
.contact:hover + .topAnchor {
    display: block;
}
