.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding-bottom: 40px;
    max-width: 1200px;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    a {
        color: #494949;
        font-size: 18px ;
        font-family: Roboto, sans-serif;
        font-weight: 700;
        text-decoration: none;
    }

    a:hover {
        font-size: 19px ;
        font-weight: 700;
    }
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;

    img {
        width: 200px;
        height: 200px;
    }
}